<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
    <title>Budgets Index Page</title>
</head>
<body>
    <% console.log(Budget); %> 
    <div class="container">
    <h1><%= Budget.name %></h1> 
    <a href="/budget"> <button>back</button></a>
    <dl>        
        <!-- Budget in the following lines in from server.js line 30-->
        <dt style="font-weight: bold;">Date:</dt>
        <dd> <%= Budget.date %></dd>
        <dt style="font-weight: bold;">Name: </dt>
        <dd> <%= Budget.name %></dd>
        <dt style="font-weight: bold;">From: </dt>
        <dd> <%= Budget.from %></dd>
        <dt style="font-weight: bold;">Amount:</dt>
        <dd> <%= Budget.amount %></dd>
        <dt style="font-weight: bold;">Tags:</dt>
        <dd> <%= Budget.tags %></dd>
    </dl>
    </div>
</body>
</html>